p {
    line-height: 1.5em;
}

body {
    color: #606468;
    font: 87.5%/1.5em 'Lato', sans-serif;
}

.navbar-nav, .nav-link-main, .nav-link{
    color: #f1f1f1;
}

.dropdown-item{
    color: black;
    font: 87.5%/1.5em 'Lato', sans-serif;
}

.dropdown-item.active{
    background-color: #555;
    color: white;
}

.dropdown-item a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.mr-auto, .nav-link-main{
    right: auto !important;
    left: 0px;
}

.bs-example{
    margin: 20px;
}
